*{
    font-family: Poppins;
    scroll-behavior: smooth;
}

:root {
    --primary: #464F9E;
    --second: rgba(0, 0, 0, 0.46);
    --white: #ffff;
}

.navbar {
    background-color: transparent;
}

.btn-download {
    border-radius: 10px;
    background-color: var(--white);
    color: var(--primary);
    font-weight: Bold;
    border: 1px solid var(--primary);
    padding: 14px 16px;
    transition: 0.6s;
}

.btn-download:hover {
    background-color: var(--primary);
    color: var(--white);
}

section {
    margin-top: 120px;
}
.content-left {
    margin-top: 140px;
}

.header-content-text {
    color: var(--second);
}

.content-excess {
    margin-top: 60px;
}

.excess p, .support p, .product p, .feedback .card-body{
    color: var(--second);
}

.list-group {
    padding: 14px 16px;
}

.list-group li {
    list-style: none;
    padding: 14px;
}

.list-group li:hover {
    background-color: #464F9E;
    font-weight: 600;
    font-size: 15px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.list-group .active {
    background-color: #464F9E;
    font-weight: 600;
    font-size: 15px;
    color: white;
    text-align: center;
}

.feedback-card {
    margin-top: 50px;
}

.card-head {
    padding: 14px 16px;
}

footer {
    margin-top: 140px;
    margin-bottom: 100px;
}

footer li {
    list-style: none;
}